*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
.footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-copyright {
    margin-bottom: 10px;
  }
  
  .footer-copyright p {
    font-size: 14px;
    color: #888;
  }
  
  .footer-social-media {
    margin-top: 10px;
  }
  
  .social-media-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-media-list li {
    margin: 0 5px;
  }
  
  .social-media-list li a {
    color: #888;
    font-size: 20px;
  }
  
  .social-media-list li a:hover {
    color: #333;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  