.recipe-details {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .recipe-image img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .recipe-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .recipe-content p {
    margin-bottom: 20px;
  }
  
  .recipe-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .recipe-section p {
    margin-bottom: 20px;
  }
  